<p>
   Are you sure you wish to cancel embedding this block?
</p>
<%= bottom_border %>
<%= link_to_function(image_tag("btn_accept.png"), "cancelBlockEmbedding()", :class=>"right margined") %>
<%= link_to_function(image_tag("btn_cancel.png"), "lightboxContainer.pop()", :class=>"right margined") %>
