<div id="lightbox-error">
  <%=image_tag "stop.png", :id=>"lightbox-error-icon" %>
  <div id="lightbox-error-message">
  </div> 
  <div id="close-lightbox-error">
    <%= link_to_function "x", "lightboxContainer.hideError()" %>
  </div>
</div>
