<div class = "left">

  <ul id="manifestDeliveryInfo">
    <li>Courier: CBLPath Courier</li>
    <li>Courier Route No: ___________________</li>
    <li>Courier Driver's Name/Badge ID: _________________</li>
    <li>Driver's Signature: _____________</li>
    <li>Drop Off Date/Time: _____________</li>
    <li>Pick Up Date/Time: ______________</li>
  </ul>

</div>