<div id="manifestHeader">
    <%= wicked_pdf_image_tag("manifestLogo.png") %>
    <div id="manifestTitle">
        <h2>TC Courier Slide Preparation Request Receipt</h2>
    </div>

    <div id="manifestClientInfo">
      <h3><%= account.account_name %></h3>
      <span><%=address.single_line_address %></span>
    </div>
</div>