<h2>A lab location was not selected when you logged in.  This session will be terminated in 5 seconds.</h2>
<script>
  window.setTimeout(logout, 5000);
  function logout(){
    window.location = "/logout";
  }
</script>
